body{
    background-color: #691313cb;
}



.hd{
    font-size: 120px;
    color:azure;
}

.content{
    color:azure;
}

.subhead{
    font-size: 35px;
    color:azure;
    text-decoration: underline;
}

.carousel {
    height:500px;
    width:800px;
}

.carouselhd{
    font-size: 90px;
}